<%
=begin%>
 <!DOCTYPE html>
<html>
<head>
<title></title>
</head>
<body>
<h1>This is the home page</h1>
<p>Hi there, how is it going?</p>

</body>
</html>

 
<%
=end%>
<!DOCTYPE html>
<html>
<head>
<title>Unordered List Exercise</title>
</head>
<body>
    
<ul>
<li>Mango</li>
<li>Apple</li>
<li>Banana</li>
<li>Orange</li>
</ul>


</body>
</html>